<style>
  @font-face {
    font-family: 'CaskaydiaCove';
    src: url({{ (resources.Get "fonts/CaskaydiaCove.woff2").Permalink }}) format('truetype');
  }

  @font-face {
    font-family: 'HarmonyOSSans';
    src: url({{ (resources.Get "fonts/HarmonyOSSans.woff2").Permalink }}) format('truetype');
  }


  :root {
    --base-font-family: HarmonyOSSans, sans-serif;
    --code-font-family: CaskaydiaCove, sans-serif;
  }
</style>

<style>
  body {
    background: url({{ (resources.Get "img/background/pixelisland.jpg").Permalink }}) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
  }
</style>